.container{
    border: palevioletred solid 2px;
    width: 380px;
    height: 120px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    border-radius: 1ch;
}
.box{
    background-color: palevioletred;
    width: 100px;
    height: 100px;
    color: palevioletred;
    border-radius: 1ch;
}