body{
    margin:20px;
}

.container1{
    width: 600px;
    height: 120px;
    display:flex;
    justify-content: flex-start;
    border-radius: 1ch;
}
.container2{
    width: 600px;
    height: 120px;
    display:flex;
    justify-content: center;
    border-radius: 1ch;
}
.container3{
    width: 600px;
    height: 120px;
    display:flex;
    justify-content: flex-end;
    border-radius: 1ch;
}

.box{
    background-color: palevioletred;
    width: 100px;
    height: 100px;
    margin:10px;
    color: palevioletred;
    border-radius: 1ch;

}